name: Backend CI/CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      deploy_env:
        description: "Choose deployment environment"
        required: true
        default: "green"
        type: choice
        options:
          - blue
          - green

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean build -x test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          DEPLOY_ENV: ${{ github.event.inputs.deploy_env || 'green' }}
        run: |
          echo "Deploy environment: $DEPLOY_ENV"

          REPO=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/yobuddy-back-repo

          echo "Building Docker image..."
          docker build -t yobuddy-backend .

          echo "Tagging image with $DEPLOY_ENV"
          docker tag yobuddy-backend:latest $REPO:$DEPLOY_ENV

          echo "Pushing image to ECR..."
          docker push $REPO:$DEPLOY_ENV

      - name: Start ASG Instance Refresh
        run: |
          aws autoscaling start-instance-refresh \
            --auto-scaling-group-name ${{ secrets.ASG_NAME }} \
            --preferences '{"MinHealthyPercentage": 90, "InstanceWarmup": 60}'
