name: QA Deploy

on:
  pull_request:
    types: [closed]
    branches: ["develop"]

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver: docker-container

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push QA Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: iiijong/yobuddy:qa
          cache-from: type=registry,ref=iiijong/yobuddy:qa
          cache-to: type=registry,ref=iiijong/yobuddy:qa,mode=max

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Docker Pull New Image
        run: docker pull iiijong/yobuddy:qa

      - name: Restart Docker Compose
        working-directory: C:\Users\Playdata\Desktop
        run: |
          docker compose down
          docker compose up -d

      - name: Discord Notification
        if: always()
        shell: powershell
        run: |
          Invoke-WebRequest `
            -Uri "${{ secrets.DISCORD_WEBHOOK }}" `
            -Method POST `
            -ContentType "application/json" `
            -Body "{""content"": ""[YoBuddy QA] 배포 완료: ${{ job.status }}""}"              
